/* Write your code here. */
.body {
  margin: 0px;
}
.bg-container {
  background-color: white;
  height: 100vh;
}
.title {
  color: black;
  text-align: center;
  padding: 50px;
}
.box-container {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  font-family: "Bree serif";
}
.box1 {
  height: 100px;
  width: 100px;
  background-color: #fbbf24;
}
.box2 {
  height: 400px;
  width: 400px;
  background-color: #38bdf8;
}
.box3 {
  height: 800px;
  width: 800px;
  background-color: #ec4899;
}
